body {
  background-color: #181719;
  background-image: linear-gradient(62deg, #083b1b 0%, #181719 100%);
  min-height: 100vh;
  font-family: 'Courgette', cursive;
  line-height: 1.2;
  color: #F3EFF5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1,
h3 {
  font-family: 'Calligraffitti', sans-serif;
  margin-bottom: 5px;
  margin-top: 5px;
}

h1 {
  font-size: 9rem;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: red;
}

p {
  font-size: 1.5em;
}

.home-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 2fr 1fr;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.gift-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  margin-left: 15px;
  margin-right: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gift {
  border: 5px solid #a32828;
  background-color: #F3EFF5;
  color: #34323D;
  opacity: 0.9;
  border-radius: 8px;
  -webkit-box-shadow: 4px 6px 20px grey;
          box-shadow: 4px 6px 20px grey;
  margin-left: 5px;
  max-width: 290px;
}

#main-name {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#main-description {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

#main-pic {
  width: 100%;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 4;
      grid-column-start: 4;
  max-width: 400px;
  opacity: 0.8;
  min-width: 300px;
}

#run {
  width: 10%;
  height: 10%;
  border: 2px solid red;
  border-radius: 8px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  min-width: 120px;
}

#txtMaxPrice {
  min-width: 10%;
  max-width: 15%;
  min-height: 10%;
  max-height: 15%;
  border: 2px solid red;
  border-radius: 8px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  min-width: 120px;
}

#form {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: fixed;
  opacity: 0.7;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
  margin-top: 15px;
}
/*# sourceMappingURL=style.css.map */