// Imports

@import 'partials/mixins';
@import 'partials/variables';

// General Styling - Body

body {
    @include background-design;
    font-family: 'Courgette', cursive;
    line-height: 1.2;
    color: $main-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1,
h3 {
    font-family: 'Calligraffitti', sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
}

h1 {
    font-size: 9rem;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

a {
    text-decoration: none;
    color: red;
}

p {
    font-size: 1.5em;
}

//Index Specific

.home-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.gift-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
}

.gift {
    border: 5px solid rgb(163, 40, 40);
    background-color: $main-white;
    color: $main-gray;
    opacity: 0.9;
    border-radius: 8px;
    box-shadow: 4px 6px 20px grey;
    margin-left: 5px;
    max-width: 290px;

}

#main-name {
    grid-row-start: 1;
    grid-column-start: 2;
    align-self: start;

}

#main-description {
    grid-row-start: 2;
    grid-column-start: 2;
}

#main-pic {
    width: 100%;
    grid-row-start: 1;
    grid-column-start: 4;
    max-width: 400px;
    opacity: 0.8;
    min-width: 300px;
}

#cane-pic {
    width: 40%;
    height: 90%;
    grid-row-start: 1;
    grid-column-start: 1;
    max-width: 350px;
    opacity: 0.8;
    min-width: 300px;
}

/*#run {
    width: 10%;
    height: 10%;
    border: 2px solid red;
    border-radius: 8px;
    justify-self: center;
    align-self: start;
    min-width: 120px;

}*/

/*#txtMaxPrice {
    min-width: 10%;
    max-width: 15%;
    min-height: 10%;
    max-height: 15%;
    border: 2px solid red;
    border-radius: 8px;
    justify-self: center;
    align-self: start;
    min-width: 120px;
}*/

#form {
    grid-row-start: 2;
    grid-column-start: 3;
}


// Footer

footer {
    display: flex;
    flex-shrink: 0;
    position: fixed;
    opacity: 0.7;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    margin-top: 15px;
}